
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}
body { 
    background-color: cadetblue;
}
main {
    max-width: 600px;
    margin: auto;
}

#game-field {
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.field-select{
    font-size: 18px;
    width: calc(100% - 10px);
    padding:10px;
    margin: 5px;
    border: none;
    background-color: burlywood;
    text-align: center;
    border-radius: 5px;

}

#game-field > div{
    position: relative;
    aspect-ratio: 1/1;
    margin: 5px;
    padding: 10px;
    background-color: rgb(57, 97, 98);
    box-shadow: 3px 3px 2px  rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;
}

.field4 > div {
    width: calc(25% - 10px);
}
.field5 > div {
    width: calc(20% - 10px);
}
.field6 > div {
    width: calc(16.666% - 10px);
}

.cover {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: blueviolet;
}

#game-field  p{
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

#game-field  div img{
    max-width: 100%;

}

#game-dialog{
    display: flex;
}

#game-dialog div {
    width: 33.333%;
    padding: 10px;
}

#game-dialog div p {
    background-color: blueviolet;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
#game-timer.timer p {
    background-color: chocolate;
}

#chat {
    background-color: chocolate;
    padding: 1px;
    padding-left: 30px;
    border-radius: 5px;

}
#chat p {
    font-size: 16px;
}

.btn-audio{
    border-radius: 50%;
    width: 48px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    background-color: darkslategrey;
    border: none;
    aspect-ratio: 1/1;
    padding: 5px;
    font-size: 16px;
    position: absolute;
    top: 10px;
    left:10vw
}

.aan {
    background-color: chocolate;
}
.uit{
    background-color: darkslategray;
}