
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}
select {
    font-size: 24px;
    border: none;
    padding: 10px;
    width: calc(100% - 20px);
    margin: 10px;
    border-radius: 5px;
    background-color: burlywood;
    text-align: center;
}
body { 
    background-color: cadetblue;
}
main {
    max-width: 1024px;
    margin: auto;
}
h1{
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: normal;
    color: darkslategrey;
}

#game-field {
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#game-field > div{
    position: relative;  
    aspect-ratio: 1/1;
    margin: 10px;
    padding: 10px;
    background-color: rgb(57, 97, 98);
    box-shadow: 3px 3px 2px  rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;
}

.field8 > div{
     width: calc(25% - 20px);
}
.field12 > div{
     width: calc(20% - 20px);
}
.field18 > div{
     width: calc(16.666% - 20px);
}

.cover {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: blueviolet;
}

#game-field  p{
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

#game-field  div img{
    max-width: 100%;

}

#game-dialog{
    display: flex;
}

#game-dialog div {
    width: 33.333%;
    padding: 10px;
}

#game-dialog div p {
    background-color: blueviolet;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}
#game-timer.timer p {
    background-color: chocolate;
}

#chat {
    background-color: chocolate;
    padding: 1px;
    padding-left: 30px;
    border-radius: 5px;

}
#chat p {
    font-size: 32px;
}